body{
    color: #242c39;
}

.label{
    margin-top: 50px;
    border: #242c39 1px solid;
    border-radius: 5px;
    padding: 50px;
    width: 950px;
}

.form_cad{
    margin-top: 40px;
}

hr{
    color: #f2b12c;
}

.tbVisit{
    margin-top: 50px;
}

.foto_visitante{
    width: 80px;
    height: 80px;

    border-radius: 50% 50% 50% 50% / 51% 50% 50% 49%  ;
}